@font-face {
  font-family: "iconfont"; /* Project id 2619202 */
  src: url('iconfont.woff2?t=1625809055747') format('woff2'),
       url('iconfont.woff?t=1625809055747') format('woff'),
       url('iconfont.ttf?t=1625809055747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e625";
}

.icon-suoxiao:before {
  content: "\e633";
}

.icon-luxiang:before {
  content: "\e740";
}

.icon-fullScreen:before {
  content: "\e627";
}

.icon-liulanmoshi:before {
  content: "\e849";
}

.icon-zhileng-:before {
  content: "\e684";
}

.icon-zidong:before {
  content: "\e7ee";
}

.icon-zhire:before {
  content: "\e63b";
}

.icon-fengsu:before {
  content: "\e665";
}

.icon-jian:before {
  content: "\e622";
}

.icon-jia:before {
  content: "\e602";
}

.icon-chashui:before {
  content: "\e623";
}

.icon-datang:before {
  content: "\e77e";
}

.icon--diantijian:before {
  content: "\e624";
}

.icon-nan:before {
  content: "\e64b";
}

.icon-naozhong:before {
  content: "\e604";
}

.icon-nv:before {
  content: "\e673";
}

.icon-loutijian:before {
  content: "\e830";
}

.icon-zoulang:before {
  content: "\e69a";
}

.icon-tianjia:before {
  content: "\e62b";
}

.icon-wendu:before {
  content: "\e66b";
}

.icon-shipin-tianchong:before {
  content: "\e734";
}

.icon-shuju:before {
  content: "\e636";
}

.icon-fengxiang:before {
  content: "\e605";
}

.icon-icon-humidity:before {
  content: "\e60b";
}

.icon-wenti:before {
  content: "\e649";
}

.icon-baoyu:before {
  content: "\e608";
}

.icon-dongyu:before {
  content: "\e609";
}

.icon-dabaoyu:before {
  content: "\e60a";
}

.icon-dayu:before {
  content: "\e60c";
}

.icon-leizhenyubanyoubingbao:before {
  content: "\e60d";
}

.icon-fuchen:before {
  content: "\e60e";
}

.icon-leizhenyu:before {
  content: "\e60f";
}

.icon-xiaoyu:before {
  content: "\e610";
}

.icon-duoyun:before {
  content: "\e611";
}

.icon-mai:before {
  content: "\e612";
}

.icon-yin:before {
  content: "\e613";
}

.icon-tedabaoyu:before {
  content: "\e614";
}

.icon-qing:before {
  content: "\e615";
}

.icon-qiangshachenbao:before {
  content: "\e616";
}

.icon-zhongyu:before {
  content: "\e617";
}

.icon-wu:before {
  content: "\e618";
}

.icon-shachenbao:before {
  content: "\e619";
}

.icon-zhenxue:before {
  content: "\e61a";
}

.icon-zhenyu:before {
  content: "\e61b";
}

.icon-daxue:before {
  content: "\e61c";
}

.icon-yujiaxue:before {
  content: "\e61d";
}

.icon-zhongxue:before {
  content: "\e61e";
}

.icon-xiaoxue:before {
  content: "\e61f";
}

.icon-baoxue:before {
  content: "\e620";
}

.icon-yangsha:before {
  content: "\e621";
}

