@import './gl.less';
@font-face {
  font-family: 'BYfont';
  src: url('~@/assets/font/时尚中黑简体.ttf');
  font-weight: normal;
  font-style: normal;
}
.tittle{
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  font-style: italic;
  color: #CCCCCC;
  padding-left:20px ;
  background-image: url('../assets/img/tiitle.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 0 50%;
}


