.tittle{
    font-size: .225rem /* 18/80 */;
    font-family: Microsoft YaHei;
    font-weight: bold;
    font-style: italic;
    color: #CCCCCC;
    padding-left:.25rem /* 20/80 */;
    background-image: url('../assets/img/tiitle.png');
    background-repeat: no-repeat;
    background-size: .1625rem /* 13/80 */ .1625rem ;
    background-position: 0 50%;
  }
  .font_text{
    font-family: 'BYfont';
  }
  
.scroll::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

.scroll::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:10px;
}
.scroll::-webkit-scrollbar-thumb{
  background: #4696EF;
  border-radius:10px;
}
// .scroll::-webkit-scrollbar-thumb:hover{
//   background: #333;
// }
.scroll::-webkit-scrollbar-corner{
  background: #179a16;
}

  .percentage{
    display: flex;
    margin-left: .3125rem /* 25/80 */;
    &>img{
      width: .2125rem /* 17/80 */;
      height: .3375rem /* 27/80 */;
    }
    &>span{
      font-size: .25rem /* 20/80 */;
      font-family: BY-Forvi-[C]3.00;
      color: #FFFFFF;
    }
  }
@import './gl.less';
@font-face {
  font-family: 'BYfont';
  src: url('../assets/font/Impact字体.ttf');
  font-weight: normal;
  font-style: normal;
}


